@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;600;700&display=swap');

body {
  @apply text-black dark:text-white dark:bg-slate-800;
}

svg {
  @apply text-black dark:text-white;
}

a {
  @apply text-black;
}
